body {
    color: aliceblue;
}
main h2 {
    font-size: xx-large;
    text-align: center;
}
main ul li {
    font-size: x-large;
    margin: 20px 0;
}
main ul li a {
    color: aliceblue;
    text-decoration: underline;
}
main ul li a:hover{
    color: aqua;
}

@media screen and (min-width: 200px) and (max-width:1400px) {
    main h2 {
        font-size: x-large;
    }
    main ul li {
        font-size: large;
    }
}