@font-face{
    font-family: Ghibli;
    src: url(fonts/EyadAl-Samman-Ghibli.ttf);
}

body{
    background-color: #091531;
    padding: 0;
}

a{
    text-decoration: none;  
}

a:hover{
    color: aliceblue;
}

.activeLink{
    color: aliceblue;
}

.source{
    text-decoration: underline;

    font-size: 20px;
    color: aliceblue;
}

.source:hover{
    color: #3DF0F5;
}

/*--------------Header--------------*/

header{
    background-color: #3DF0F5;
    height: 75px;
    width: 100%;
    margin: -23px -9px 0 -8px;
    padding: 10px ;

    display: flex;
    
    position: relative;
    z-index:3;
    
    position: fixed;
}

header h1 a{
    color: #091531;
}

header #logo{
    margin-left: 20px;

    font-size: 35px;
}

header nav{
    margin: auto 40px 0 auto ;
    width: 700px;
}

header nav ul{
    list-style-type: none;
    font-size: larger;
    color: aliceblue;

    display: flex;
    justify-content: space-around;
}

header nav ul .vertical_line{
    margin-top: 3px;
    height: 15px;
    border-left: 2px solid #091531;
}

/*--------------Main--------------*/
main .underTop{
    width: 100%;
    height: 72px;
}

main .pageContent{
    width: 60%;
    height: 20px;

    background-color: #091531;

    border-radius: 0 0 30px 30px;

    margin: 0 auto 20px auto;
    
    display: flex;

    color: aliceblue;

    position: relative;
    z-index:2;
}

main .pageContent p{
    display: inline;
    margin: auto;
}

main .slidebar{
    width: 100%;
    height: 400px;

    background-color: rgba(176, 196, 222, 0.5);

    margin: -40px auto 0 -8px;
    padding: 200px 9px 0 8px;

    position: relative;
    z-index:1;
}

main .slidebar h1{
    text-align: center;
    font-size: 70px;
}

main .whatAbout{
    width: 100%;
    height: 300px;
}

main .whatAbout img{
    width: 101%;
    height: 300px;

    opacity: 0.65;

    margin: 0 0 0 -10px;
}

main .whatAbout blockquote{
    font-size: xx-large;
    color: aliceblue;

    text-align: right;

    height: 200px;
    width: 50%;

    margin: -270px 20px 0 auto;

    position: relative;
    z-index:1;
}

main .whatAbout blockquote p{
    margin-top: 0;
}

main .shortAbout{
    background-color: rgba(176, 196, 222, 0.2);

    display: flex;
    justify-content: space-around;

    padding: 30px 0 30px 0;

    margin: 30px auto 30px auto;
}

main .shortAbout .text{
    width: 50%;
    height: 365px;

    background-color: rgba(176, 196, 222, 0.2);

    color: aliceblue;

    font-size: xx-large;
    text-align: left;
}

main .shortAbout .text p{
    margin: 40px;
}

main .whyHim{
    background-color: rgba(195, 218, 249, 0.9);

    height: 500px;
    width: 75%;

    margin: 30px auto 30px auto;

    padding: 50px;
}

main .whyHim h1{
    font-size: 40px;
    text-align: center;
}

main .whyHim p{
    font-size: x-large;
    text-align: center;

    margin: auto 40px auto 40px;
}

/*--------------Footer--------------*/
footer{
    background-color: rgba(176, 196, 222, 0.2);

    height: 100px;
    width: 100%;

    margin: 30px auto 0 auto;
}
